/**
 * Colors
**/
/**
 * Buttons
**/
.RBtn {
  border-radius: 7px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  padding: 0 20px;
}
.RBtn .sapUiIcon {
  pointer-events: none;
}
.RBtn > span {
  display: flex;
}
.RBtn--leftIcon .sapUiIcon {
  margin-right: 5px;
}
.RBtn--rightIcon .sapUiIcon {
  order: 2;
  margin-left: 5px;
}

.RBtn-yellow {
  background-color: #FFD013;
}
.RBtn-yellow .sapUiIcon {
  color: #000000;
}
.RBtn-yellow:hover {
  background-color: #ffda46;
}

/**
 * Header
**/
.headerBar {
  padding-bottom: 0px !important;
}
.headerBar__title > div:nth-child(2) h6 {
  color: #7B91A8;
  font-family: "72" !important;
  margin-left: 5px;
}

.subHeader {
  padding-top: 0px !important;
}

/**
 * Card
**/
.card {
  min-height: 545px;
}
.card__header {
  padding: 10px;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  align-items: center;
}
.card__list {
  width: 100%;
  padding: 10px;
}
.card__list ul {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
.card__list ul li {
  border-radius: 12px;
  width: 100%;
  padding: 5px 10px;
  font-weight: bold;
}
.card__list ul li[data-type=in] {
  background: #6FC086;
  border: 1px solid #30914C;
  box-shadow: none;
}
.card__list ul li[data-type=in] > .sapMLIBHighlightInformation {
  background-color: #30914C;
  border-right: 0px !important;
}
.card__list ul li[data-type=out] {
  background: #FA5353;
  border: 1px solid #AA0808;
  box-shadow: none;
}
.card__list ul li[data-type=out] > .sapMLIBHighlightInformation {
  background-color: #AA0808;
  border-right: 0px !important;
}

/**
 * Palete
**/
.palete {
  padding: 10px;
}
.palete__graph {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5px;
}