/**
 * Card
**/

.card {
    min-height: 545px;

    &__header {
        padding: 10px;
        border-bottom: 1px solid $grayLight;
        display: flex;
        align-items: center;
    }

    &__list {
        width: 100%;
        padding: 10px;

        ul {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            height: 100%;
            width: 100%;

            li {
                border-radius: 12px;
                width: 100%;
                padding: 5px 10px;
                font-weight: bold;

                &[data-type="in"] {
                    background: $greenLight;
                    border: 1px solid $green;
                    box-shadow: none;

                    >.sapMLIBHighlightInformation {
                        background-color: $green;
                        border-right: 0px !important;
                    }
                }

                &[data-type="out"] {
                    background: $redLight;
                    border: 1px solid $red;
                    box-shadow: none;

                    >.sapMLIBHighlightInformation {
                        background-color: $red;
                        border-right: 0px !important;
                    }
                }

            }
        }
    }
}